

<ul>
    <%= @posts.each do |post| %>
        <li>
            <%= link_to post_content(post), post_path(post) %>
            <%= post.formatted_created_at %>
            <%= display_user(post.user) %>
            <% if show_copy_button?(post) %>
              <button type="button" data-controller="clipboard" data-clipboard-text-value="<%= post.content %>" data-action="click->clipboard#copy">복사하기</button>
            <% end %>
        </li>
    <% end %>
</ul>



<script>

  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(() => {
      showToast("복사되었습니다!");
    }).catch(err => {
      console.error("복사 실패:", err);
    });
  }
