<nav>
    <%= link_to "home", posts_path %>
</nav>


<ul>
    <%= @posts.each do |post| %>
        <li>
            <%= link_to post.content, post_path(post) %>
            <%= post.formatted_created_at %>
            <button type="button" data-controller="clipboard" data-clipboard-text-value="<%= post.content %>" data-action="click->clipboard#copy">복사하기</button>
        </li>
    <% end %>
</ul>

<%= form_with model: @post, local: true do |f| %>
    <%= f.label :content, "내용" %>
    <%= f.text_area :content %>
    <%= f.submit "등록" %>
<% end %>

<script>

  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(() => {
      showToast("복사되었습니다!");
    }).catch(err => {
      console.error("복사 실패:", err);
    });
  }
