<h1> New foo </h1>

<%= form_with model: @post, local: true do |f| %>
   <p> <%= f.label :content, "내용" %></p>
   <p> <%= f.text_area :content %></p>
    

    <p>
        <%= f.label :expire_type, "유효 기간" %>
        <%= f.select :expire_type, options_for_select([["없음", 0], ["읽자마자삭제", 1]]) %>
    </p>

    <p>
        <%= f.label :password, "비밀번호" %>
        <%= f.text_field :password %>
    </p>제

    <%= f.submit "등록" %>
<% end %>

