<h1> New foo </h1>

<%= form_with model: @post, local: true do |f| %>
   <p> <%= f.label :content, "내용" %></p>
   <p> <%= f.text_area :content %></p>
    

    <p>
        <%= f.label :category, "유효 기간" %>
        <%= f.select :category, options_for_select([["읽자마자", 0], ["1분", 1], ["5분", 5]]) %>
    </p>

    <p>
        <%= f.label :password, "비밀번호" %>
        <%= f.text_field :password %>
    </p>

    <%= f.submit "등록" %>
<% end %>

